
@{
    ViewBag.Title = "Api Documentation";
    var CurrentHost = System.Web.HttpContext.Current.Request.Url.Host + (System.Web.HttpContext.Current.Request.Url.Port == 80 ? string.Empty : ":" + System.Web.HttpContext.Current.Request.Url.Port);
}

<div class="container">
    <h2>Api Documentation</h2>

    <div class="row">
        <div class="col-md-12">
            <h3>
                <small>This is a sample code for use the REST Api provided for Get or Create new SVG Items on the database</small>
            </h3>
            *Host will change automatically when published
            <!-- Tabs with icons on Card -->
            <div class="card card-nav-tabs">
                <div class="card-header card-header-info">
                    <!-- colors: "header-primary", "header-info", "header-success", "header-warning", "header-danger" -->
                    <div class="nav-tabs-navigation">
                        <div class="nav-tabs-wrapper">
                            <ul class="nav nav-tabs" data-tabs="tabs">
                                <li class="nav-item">
                                    <a class="nav-link active" href="#parameters" data-toggle="tab">
                                        <i class="material-icons">storage</i> SVG Parameter
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#profile" data-toggle="tab">
                                        <i class="material-icons">storage</i> Get all items
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#messages" data-toggle="tab">
                                        <i class="material-icons">chat</i> Get Single Item
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#settings" data-toggle="tab">
                                        <i class="material-icons">backup</i> Post an Item
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="tab-content text-left">
                        <div class="tab-pane active" id="parameters">
                            <h4>ScalableVectorGraphic</h4>
                            <table>
                                <tr>
                                    <th>
                                        name
                                    </th>
                                    <th>
                                        Type
                                    </th>
                                    <th>
                                        Description
                                    </th>
                                </tr>

                                <tr>
                                    <td>id</td>
                                    <td>Guid</td>
                                    <td>Id of the item, Title can not be more that 150 Charaters</td>
                                </tr>

                                <tr>
                                    <td>SgvSpecs</td>
                                    <td>String</td>
                                    <td>sgv xml specification , it should include the "svg" element</td>
                                </tr>

                                <tr>
                                    <td>DateCreated</td>
                                    <td>DateTime</td>
                                    <td>Datetime of the svg creation</td>
                                </tr>
                            </table>
       
                        </div>

                        <div class="tab-pane" id="profile">
                            <h4>HTML</h4>
                            <p>
                                http://@CurrentHost/api/sgvApi <br />
                                GET /api/sgvApi HTTP/1.1<br />
                                Host: @CurrentHost<br />
                                Cache-Control: no-cache<br />

                            </p>
                            <h4>C# (Using RestSharp)</h4>
                            <p>
                                var client = new RestClient("http://@CurrentHost/api/sgvApi"); <br />
                                var request = new RestRequest(Method.GET); <br />
                                request.AddHeader("Cache-Control", "no-cache"); <br />
                                IRestResponse response = client.Execute(request); <br />

                            </p>
                        </div>
                        <div class="tab-pane" id="messages">
                            <h4>HTML</h4>
                            <p>
                                http://@CurrentHost/api/sgvApi/[ElementID] <br />
                                GET /api/sgvApi HTTP/1.1<br />
                                Host: @CurrentHost<br />
                                Cache-Control: no-cache<br />

                            </p>
                            <h4>C# (Using RestSharp)</h4>
                            <p>
                                var client = new RestClient("http://@CurrentHost/api/sgvApi/[ElementID]"); <br />
                                var request = new RestRequest(Method.GET); <br />
                                request.AddHeader("Cache-Control", "no-cache"); <br />
                                IRestResponse response = client.Execute(request); <br />

                            </p>
                        </div>
                        <div class="tab-pane" id="settings">
                            <div class="tab-pane" id="messages">
                                <h4>HTML</h4>
                                <p>
                                    http://@CurrentHost/api/sgvApi/<br />
                                    POST /api/sgvApi HTTP/1.1<br />
                                    Host: @CurrentHost<br />
                                    Content-Type: application/json <br />
                                    Cache-Control: no-cache<br />
                                    {<br />
                                    [ScalableVectorGraphic item]<br />
                                    }

                                </p>
                                <h4>C# (Using RestSharp)</h4>
                                <p>
                                    var client = new RestClient("http://@CurrentHost/api/sgvApi/");<br />
                                    var request = new RestRequest(Method.POST);<br />
                                    request.AddHeader("Cache-Control", "no-cache");<br />
                                    request.AddHeader("Content-Type", "application/json");<br />
                                    request.AddJsonBody([ScalableVectorGraphic item]);<br />
                                    IRestResponse response = client.Execute(request);<br />

                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Tabs with icons on Card -->
        </div>

    </div>

</div>

